body {
    overflow-x: hidden;
}

.logo__navbar, .logo__footer {
    font-family: 'Playfair Display', serif;
}


.texto__descripcion {
    width: 400px;
}

.card {
    background-image: url(../img/fondo-form.jpg);
    background-repeat: no-repeat;
    opacity: 70%;
}
.iconos__redes {
    color: white;
}

.texto__footer {
    font-size: 16px;
}

